
#acceuil
#Bon_plan
#Nos_telephone

header{
background-color: white;
color: black;
}
.header{

    
}

.carousel {
  width: 400px;
  overflow: hidden; /* Permet de cacher le surplus de l image */  
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}
/* Permet au image de se mouvoir*/
.slides img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}
/*Remplis entièrement le conteneur*/
