
#acceuil
#Bon_plan
#Nos_telephone

header{
background-color: white;
color: black;
}
body {
    font-family: 'Inter', sans-serif;
}


.carousel {
  width: 400px;
  overflow: hidden; /* Permet de cacher le surplus de l image */  
  margin: auto;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}
/* Permet au image de se mouvoir*/
.slides img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}
/*Remplis entièrement le conteneur*/




.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* centre horizontalement */
    gap: 40px; /* espace entre les liens */
}

.menu a {
    text-decoration: none; /* enlève le soulignement des liens */
    font-weight: 600; /*met le texte en semi‑gras*/
    color: black; /*change la couleur du texte*/
}
